@media (min-width: 320px) and (max-width: 480px) {
  
    .cake-navbar ul li a  {

    }

    .capa-section {
        background-size: cover;
    }

    .flex-box .flex-col {
        width: 100%;
    }
    .flex-box {
        flex-wrap: wrap;
    }
    .cake-navbar ul {
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 50px;
        border-radius: 12px !important;
        display: none;
    }

    .community-marketplace {
        line-height: 1;
    }
    .seven span {
        font-size: 35px;
    }

    .hide-mobile {
        display: none;
    }
    .button-nav {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .rectangle-group {
        width: 90%;
    } 

    .a-platform-where-container {
        text-align: left;
        font-size: 16px !important;
        margin-top: 10px;
    }

    .rectangle-parent {
        width: 100%;
    }
    .frame-div {
        gap: 5px;
    }

    .frame-div b{
        font-size: 16px;
    }
    .cake-vault {
        text-align: center;
    }
    .frame-parent1 {
        align-items: center;
    }
    .token-name {
        text-align: center;
    }

    .transparent-kung-fu-panda-png-group {
        position: absolute;
        top: 250px;
        left: -5%;
        width: 500px;
        height: auto;
        z-index: 1 !important;
    }
    .second-content {
        background-size: cover;
        background-position: 0 45px;
        margin-top: 100px;
    }
    .frame-parent {
        z-index: 1;
    }

    .hero-group {
        margin-top: 120px;
    }

    .vector-group{
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .menu-icon {
        background: var(--color-darkolivegreen-100);
    padding: 5px;
    border-radius: 4px;
    width: 28px;
    }
    
    .a-hyper-deflationary-and-container {
        color: #fff;
        font-size: 20px;
        width: 100%;
    }
    
    .hero-container {
        width: 87%;
    }

    .cake-panda img {
        float: left;
        width: 80%;
    }

    
.show-mobile {
    display: block;
  }

  .menu-icon {
    display: block;
  }

  .rh {
    border-radius: 10px;
    border: 2px solid #EFD912;
    background: #2E5E2E;
    display: inline-block;
    padding: 10px 38px;
    color: #FFF;
    font-family: Shojumaru;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.stats-content {
    flex-direction: column;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    flex-direction: column;
    gap: 30px;
}
.the-title {
    font-size: 36px;
}

.exp-section {
    flex-direction: column;
}
.exp-section .default {
    height: 140px;
    width: 100%;
    font-size: 16pt;
    overflow: hidden;
    flex-grow: 1;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
.def-show h4 {
    color: #fff;
    transform: rotate(0deg);
    margin-top: 0;
    color: #FFF;
    font-family: Shojumaru;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.895%;
    letter-spacing: 1.44px;
}
.tag {
    margin: 15px auto;
}
.exp-section .expand {
    height: 100% !important;
}
.the-title {
    word-break: break-word;
}
.stat-panda {
    width: 100%;
}

.stats-section  {
    background: none !important;
}

.stats-content ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
}
.stats-content ul li {
    word-break: break-all;
}

.store-bg {
    display: none;
}

}